/* Importing Google font - Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10px;
  background: #8decb4;
  user-select: none;
}

.container {
  width: 850px;
  background: #fff5e0;
  display: flex;
  gap: 70px;
  align-items: flex-end;
  padding: 60px 40px;
  border-radius: 10px;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
}

.hangman img {
  max-width: 270px;
}
.hangman h1 {
  font-size: 1.5rem;
  margin-top: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.word-display {
  display: flex;
  gap: 10px;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.word-display .letter {
  width: 28px;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  border-bottom: 3px solid #141e46;
}

.word-display .letter.guesse {
  border-color: transparent;
  margin: -40px 0 35px;
}

.game-box h4 {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.game-box h4 b {
  font-weight: 600;
}

.game-box .guesses-text b {
  color: hsl(0, 100%, 68%);
}

.game-box .keyboard {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin-top: 40px;
  padding: 0 5px;
  justify-content: center;
}

:where(.game-exe, .keyboard) button {
  color: #fff5e0;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  background-color: #41b06e;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  transition: background 0.2s;
}

.keyboard button {
  padding: 7px;
  width: calc(100% / 9 - 5px);
}

:where(.game-exe, .keyboard) button:hover {
  background: #8decb4;
}

.game-exe {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}

.game-exe .con {
  background: #fff5e0;
  max-width: 425px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
}

.game-exe img {
  max-width: 135px;
  margin-bottom: 20px;
}

.game-exe h4 {
  font-size: 1.55rem;
}

.game-exe p {
  font-size: 1.15rem;
  margin: 15px 0 30px;
  font-weight: 500;
}

.game-exe p b {
  color: #8decb4;
  font-weight: 600;
}

.game-exe button {
  padding: 12px 25px;
}

@media (max-width: 785px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 60px 40px;
  }

  .hangman img {
    max-width: 200px;
  }
  .hangman h1 {
    display: none;
  }

  .game-box .keyboard {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 30px;
    padding: 0 4px;
    justify-content: center;
  }

  body {
    padding: 0 5px;
    min-height: 70vh;
  }
}
